{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ title }}</h1>
    <canvas id="nomnoml-canvas"></canvas>
    <script>
        $(function () {
        var source = "#.interface: dashed italic\n";
        {% if diagram.packages|length > 0 %}
            {% for package in diagram.packages %}
                {% if package is not empty %}
                    source += "[<package> {{ package|replace({"\\": "\\\\"}) }}|\n";
                {% endif %}
                {% for class in diagram.externalActors(package) %}
                    source += "[<actor> {{ class|replace({"\\": "\\\\"}) }}]\n";
                {% endfor %}
                {% for class in diagram.interfaces(package) %}
                    source += "[<interface> {{ class|replace({"\\": "\\\\"}) }}]\n";
                {% endfor %}
                {% for class in diagram.abstractClasses(package) %}
                    source += "[<abstract> {{ class|replace({"\\": "\\\\"}) }}]\n";
                {% endfor %}
                {% for class in diagram.classes(package) %}
                    source += "[{{ class|replace({"\\": "\\\\"}) }}]\n";
                {% endfor %}
                {% if package is not empty %}
                    source += "]\n";
                {% endif %}
            {% endfor %}
        {% else %}
            {% for class in diagram.externalActors %}
                source += "[<actor> {{ class|replace({"\\": "\\\\"}) }}]\n";
            {% endfor %}
            {% for class in diagram.interfaces %}
                source += "[<interface> {{ class|replace({"\\": "\\\\"}) }}]\n";
            {% endfor %}
            {% for class in diagram.abstractClasses %}
                source += "[<abstract> {{ class|replace({"\\": "\\\\"}) }}]\n";
            {% endfor %}
            {% for class in diagram.classes %}
                source += "[{{ class|replace({"\\": "\\\\"}) }}]\n";
            {% endfor %}
            {% for class in diagram.allClasses %}
                {% for dependency,labels in diagram.dependencies(class) %}
                    {% for label in labels %}
                        source += "[{{ class|replace({"\\": "\\\\"}) }}] --> {{ label }} [{{ dependency|replace({"\\": "\\\\"}) }}]\n";
                    {% endfor %}
                {% endfor %}
                {% for association,multiply in diagram.associations(class) %}
                    source += "[{{ class|replace({"\\": "\\\\"}) }}] -> {{ multiply }} [{{ association|replace({"\\": "\\\\"}) }}]\n";
                {% endfor %}
                {% for implementedClass in diagram.implementations(class) %}
                    source += "[{{ class|replace({"\\": "\\\\"}) }}] --:> [{{ implementedClass|replace({"\\": "\\\\"}) }}]\n";
                {% endfor %}
                {% for extendedClass in diagram.generalizations(class) %}
                    source += "[{{ class|replace({"\\": "\\\\"}) }}] -:> [{{ extendedClass|replace({"\\": "\\\\"}) }}]\n";
                {% endfor %}
            {% endfor %}
        {% endif %}
        nomnoml.draw(document.getElementById('nomnoml-canvas'), source);
        });
    </script>
{% endblock %}
